.CodeMirror .CodeMirror-scroll {
    background-color: #fff;
    color: #000;
}
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: #333333;
    color: #EEEEEE
}
.CodeMirror .CodeMirror-cursor {
    border-left: 1px solid #000;
}
.CodeMirror-lines {
    background-color: #fff;
    color: #202020;
}
 .CodeMirror-selected {
    background: #c0c0c0;
    opacity: .9;
}
 .cm-keyword {
    color: #000;
}
 .cm-atom {
    color: #000;
}
 .cm-number {
    color: #000;
}
 .cm-unit {
    color: #d0782a;
}
 .cm-def {
    color: #0080ff;
}
 .cm-variable {
    color: #000;
}
 .cm-variable-2 {
    color: #000;
}
 .cm-property {
    color: #8080c0;
}
 .cm-operator {
    color: #000;
}
 .cm-comment {
    color: #008000;
}
 .cm-string {
    color: #8000ff;
}
 .cm-string-2 {
    color: #8000ff;
}
 .cm-meta {
    color: #000;
}
 .cm-header {
    color: blue;
}
 .cm-tag {
    color: #0000ff;
}
 .cm-attribute {
    color: red;
}
 .cm-qualifier {
    color: red;
}
 .cm-error {
    color: #f00;
}
 .cm-bracket,
 .cm-builtin {
     color: #0080ff;
 }
 .cm-quote {
    color: #090;
}
 .cm-hr {
    color: #999;
}
 .cm-link {
    color: #00c;
}
 .cm-strong {
    color: #f00;
}
 .cm-em {
    color: #ddca7e;
}
.codehint-item b {
    color: red !important;
}
.box-html .cm-atom {
    color: #96b38a;
}
.box-css .cm-string {
    color: red !important;
}
 .cm-matchhighlight {
    background: #00CCFF;
    box-shadow: 0 0 5px #00CCFF;
    color: #000;
}
.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #FF3333;
    text-shadow: none;
    border-bottom: 1px solid #FF3333;
}
.CodeMirror span.CodeMirror-matchingbracket {
    color: red!important;
    background: #D5D5D5;
}
.CodeMirror span.cm-matchhighlight.CodeMirror-searching.CodeMirror-selectedtext {
    background-color: #FFCC33;
    color: #000;
    border: 0;
    box-shadow: 0 0 5px #FFCC33;
    border-radius: 2px;
}
.CodeMirror span.CodeMirror-matchingtag {
    background-color: #c1c1ff !important;
}
.CodeMirror span.CodeMirror-searching {
    background-color: #75d975;
    color: #000;
}
 .CodeMirror-activeline-background {
    background: rgba(235, 235, 235, 0.5) !important;
}
div.CodeMirror-gutter {
    color: #ccc;
}
div.CodeMirror-gutters {
    background-color: #333435;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, .8);
    padding: 0 0 20px 0;
    border-right: 0;
}

