.panel {
}
 
/*
#sidebar {

	position: relative;
	white-space: nowrap;
	width: 100%!important;
	height: auto!important;
	top: 0;
	font-family:arial;
	display: block;
}

.main-view .content {
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
	padding: 0;
	top: 0;
	left: 0!important;
	right: 0;
}

#project-files-container ,
#project-files-header,
#working-set-header,
#working-set-option-btn,
.scroller-shadow.top ,
.scroller-shadow.bottom ,
.sidebar-selection ,
.sidebar-selection-triangle ,
.horz-resizer  {
display:none!important;
}




#open-files-container ul {
	padding: 0;
	margin: 0;
}
#open-files-container li {
	position: relative;
display: inline-block;	list-style-type: none;
}

#open-files-container a {
	font-size: 13px;
	color: #fff;
	background: rgb(61, 61, 61);
	text-decoration: none;
	display: block;
	margin: 0 10px;
	padding: 20px 30px;
	cursor: pointer;
}


*/



.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt{background:#333333;color:#EEEEEE}


#main-toolbar,
#status-bar,
#status-indicators {
  background:#242424;
  color:#ccc;
}


#status-info {
  color:#ccc;
}

#open-files-container,
#working-set-header {
 
}
#project-files-header {
 
}
.recent-folder,
#open-folder-link {
  color:#ddd;
}
#project-dropdown.dropdown-menu a.selected {
  background: #0081c2;
}
.dropdown-menu {
  background: #333;
  color: #aaa;
}
.dropdown-menu .divider {
  background: #222;
  border-bottom: 1px solid #444;
}
.sidebar-selection {
  background: #1a1a1a;
}
.sidebar-selection-triangle {
  display: none !important;
}

.jstree-brackets li.jstree-closed > a,
.jstree-brackets li.jstree-open > a {
  color:#ccc;
}

#open-files-container .extension,
.jstree-brackets li .extension {
  color:#ccc;
}

.CodeMirror {
    background-color:#fff;
    color:#202020;
	font-weight:bold;
	font-family:"Courier New";

}

.CodeMirror div.CodeMirror-cursor {
  border-left:1px solid #000;
  z-index:99;
}

.CodeMirror-lines {
	padding: 0 0 265px 0;
}

 .CodeMirror-selected {
  background:#c0c0c0;
  opacity:.9;
}
 
/* e.g. var, function */
 .cm-keyword    {color:#000;}
/* e.g. #id */
 .cm-atom       {color:#000;}
/* e.g. 20 */
 .cm-number     {color:#000;}
/* e.g. px, em */
 .cm-unit       { color: #d0782a; }  
/* e.g. @include, [this] */
 .cm-def        {color:#0080ff;} 
/* e.g. $, i */ 
 .cm-variable   {color:#000;}
/* e.g. for key in [this], Markdown li */ 
 .cm-variable-2 {color:#000;}
/* e.g. getElementbyId, CSS properties */ 
 .cm-property   {color:#8080c0;}
/* e.g. CoffeeScript ->, CSS colons */ 
 .cm-operator   {color:#000;}
/* e.g. // comments */ 
 .cm-comment    {color:#008000;font-weight:normal!important;}
/* e.g. "string" */ 
 .cm-string     {color:#8000ff;}
/* e.g. some CSS values */ 
 .cm-string-2   {color:#8000ff;}
/* e.g. @font-face */ 
 .cm-meta       {color:#000;}
/*  */ 
 .cm-header {color: blue;}
/* e.g. HTML elements */ 
 .cm-tag        {color:#0000ff;}
/* e.g. class="" id="" */ 
 .cm-attribute  {color:red;}
/* e.g. .box */ 
 .cm-qualifier  {color:red;}
 

	.cm-error {color: #f00;}
	.cm-bracket    { }
	.cm-builtin  {color:#0080ff;}  
	.cm-quote {color: #090;}
	.cm-hr {color: #999;}
	.cm-link {color: #00c;}

	/* not sure if used */ 
	.cm-strong {color: #f00;}
	/* not sure if used */ 
	.cm-em         {color: #ddca7e; }




.codehint-item b {color:red!important;}



/* HTML SPECIFIC */
/* e.g. markdown blockquote */
.box-html .cm-atom { color: #96b38a; }

/* CSS SPECIFIC  ما اشتغل معايا*/ 
/* e.g. h1, h2 */
.box-css .cm-string { color: red!important; }
 
 
.cm-matchhighlight {
  background:#00CCFF;
  box-shadow:0 0 5px #00CCFF;
  color:#000;
}

.CodeMirror span.CodeMirror-nonmatchingbracket {
  color:#FF3333;
  text-shadow: none;
  border-bottom: 1px solid #FF3333;
}

.CodeMirror span.CodeMirror-matchingbracket {
	color: red!important;
	background: #D5D5D5;
}

.CodeMirror span.cm-matchhighlight.CodeMirror-searching.CodeMirror-selectedtext {
  background-color:#FFCC33;
  color:#000;
  border:0;
  box-shadow:0 0 5px #FFCC33;
  border-radius:2px;
}

.CodeMirror span.CodeMirror-matchingtag {
   background-color: #c1c1ff !important;
}

.CodeMirror span.CodeMirror-searching {
  background-color:#75d975;
  color:#000;
}

 .CodeMirror-activeline-background {
	background: rgba(235, 235, 235, 0.5) !important;
	margin: -1px -10px;
}

 div.CodeMirror-gutter {
  color:#ccc;
}

div.CodeMirror-gutters {
	background-color: #333435;
	box-shadow: 0 0 10px hsla(0,0%,0%,.8);
	padding: 0 0px 20px 0px;
	border-right: 0;
}

 span.CodeMirror-widget {
  margin:-3px 0px;
  display:inline-block;
}
 span.CodeMirror-foldmarker {
  display:inline-table;
  background:#ccc;
  border:0;
  color:#000;
  border-radius:3px;
  font-size:20px;
  margin:3px;
  padding:0px 5px;
  height:15px;
  line-height:15px;
  overflow:hidden;
  white-space:nowrap;
}

/* Let's get this party started */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
     background-color: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: rgba(100,100,100,1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(55,55,55,0.9);
}

.extension-manager-dialog .modal-header,
.extension-manager-dialog .modal-footer {
  background: #222;
}
.extension-manager-dialog .modal-body {
  background: #1a1a1a;
}
.extension-manager-dialog .modal-footer {
  border-color: #1a1a1a;
}
.extension-manager-dialog .modal-header .nav-tabs > li > a {
  color: #eee;
}
.extension-manager-dialog .modal-header .nav-tabs > .active > a,
.extension-manager-dialog .modal-header .nav-tabs > .active > a:hover {
  background: #333;
  border-color: #1a1a1a #1a1a1a transparent #1a1a1a;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background: #333;
  color: #eee;
}
.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
  background: #2a2a2a;
  color: #eee;
}
body.platform-win .extension-manager-dialog .modal-body .extension-list .ext-name,
body.platform-win .extension-manager-dialog .modal-body .extension-list .ext-desc {
  color: #eee;
}
.extension-manager-dialog .modal-header .nav-tabs {
  border-color: #1a1a1a;
}
.extension-manager-dialog .modal-body .info-message {
  background: #1a1a1a;
  color: #888;
}
#project-dropdown-toggle {
  width: auto;
}
#devdocs-viewer-iframe ._header {
  background-color: #222;
}
.toolbar .nav .dropdown-menu li a,
.context-menu .dropdown-menu li a,
.codehint-menu .dropdown-menu li a {
  color: #bbb;
}
.toolbar .nav .dropdown-menu li a:hover,
.context-menu .dropdown-menu li a:hover,
.codehint-menu .dropdown-menu li a:hover,
.toolbar .nav .dropdown-menu li a.highlight,
.context-menu .dropdown-menu li a.highlight,
.codehint-menu .dropdown-menu li a.highlight {
  color: #0ff;
  background: #0081c2;
}
 

